<div class='content-wrapper fl w-100 pa4 card center animated fadeInUp f4 lh-copy'>
  <div>
    If I'm not doing something coding related, you can find me writing in my notebook or <a class='emphasis' href="https://letterboxd.com/totemc/" target='_blank'>watching horror films</a>.
  </div>
  <div>
    <p class='f5 lh-copy'>
      (You can find me on these sites, too):
    </p>
    <div class='flex-ns text-align center justify-around-ns pa4'>
      <div>
        <a class='emphasis' href="https://www.linkedin.com/in/as-rodr/" target='_blank'>linkedin</a>
      </div>
      <div>
        <a class='emphasis' href="https://www.github.com/totemc" target='_blank'>github</a>
      </div>
      <div>
        <a class='emphasis' href="https://twitter.com/totem_c" target='_blank'>twitter</a>
      </div>
    </div>
  </div>
</div>