<div id='blurb-and-learning' class='cf mv4'>
    <div class='fl w-100 w-50-ns'>
      <div class="card mv2 pa2 mr2-ns">
          Hi! I'm Adrian, a software engineer working for Capital One based in NYC. I lean towards web development and I'm always exploring new ways to broaden my experience.
          I consider myself a lifelong learner - it's one of my favorite things to do.
      </div>
    </div>
    <div class='fl w-100 w-50-ns'>
        <site-learning></site-learning>
    </div>
</div>


