<div id='blurb-and-learning' class='cf mv4 flex-ns items-center-ns animated fadeInUp'>
    <div class='fl w-100 w-50-ns'>
      <div class="card mv2 pa2 mr2-ns h-100 h5-ns flex-ns items-center-ns center pa4">
        <div class='fl w-100 f4 lh-copy'>
            <p class='pv1'>Hi! I'm <strong class='emphasis'>Adrian</strong>, a <strong class='emphasis'>software engineer</strong> working for <strong class='emphasis'>Capital One</strong> based in <strong class='emphasis'>NYC</strong>.</p>
            <p class='pv1'> I lean towards web development and I'm always exploring new ways to broaden my experience.</p>
            <p class='pv1'>I consider myself a lifelong learner - it's one of my favorite things to do.</p>
        </div>
      </div>
    </div>
    <div class='fl w-100 w-50-ns'>
        <site-learning></site-learning>
    </div>
</div>


