<div class='header-wrapper card pa4 flex-ns items-center-ns'>
  <div class='fl w-100 w-80-ns pa2'>
    <h1>
      Adrian Rodriguez
    </h1>
    <h2>
      caption
    </h2>
  </div>
  <div class='fl w-100 w-20-ns pa2'>
    <img src='/assets/images/portrait.jpg' alt="" class='portrait'>
  </div>
</div>
<!--
  <div class='header-wrapper card pa4'>
  <div class='fl w-80 center h-100'>
    adrian rodriguez
  </div>
  <div class='fl w-20 h-100'>
    <img src='/assets/images/portrait.jpg' alt="" class='portrait'>
  </div>
</div>
-->